/* General Styles */

html,
body {
    height: 100% !important;
}

.background {
    min-height: 100%;
    background-color: #181818;
    padding: 0px;
}

.wrapper {
    background-color: white;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    max-width: 1400px;
    box-shadow: 50px black;
}

p {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 18px;
    line-height: 1.75em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: uppercase;
}

.vertical-align {
    display: flex;
    align-items: center;
}

a:link {
    text-decoration: none;
    padding: 0;
}


i {
    font-size: 28px;
}

img {
    background-color: white;
}

.separator {
    margin: 140px auto;
}

/* Curly Brace Style */

.brace {
    width: auto;
    min-width: 35px;
    padding-bottom: 20px;
    font-size: 2em;
    line-height: 2em;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0 15px 15px;
    border: none;
    background-color: transparent;
    background-image: radial-gradient(circle at 0 0, #282828 14.5px, #282828 15.5px, #282828 19.5px, #282828 20.5px),
    radial-gradient(circle at 35px 0, #282828 14.5px, #282828 15.5px, #282828 19.5px, #282828 20.5px);
    background-size: 35px 20px;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-transform: lowercase;
    font-style: italic;
    color: #282828;
    filter: drop-shadow(0 1px 1px rgba(black, .15));
    overflow: visible;
}

.brace:before {
    width: 50%;
    border-top: 5px solid #282828;
    border-left: 1px solid transparent;
    /* play with this until you like the look of it */
    border-top-left-radius: 20% 30px;
    height: 100%;
    content: "";
    position: absolute;
    top: -15px;
    box-sizing: border-box;
    margin-top: -5px;
}

.brace:after {
    width: 50%;
    border-top: 5px solid #282828;
    border-right: 1px solid transparent;
    /* play with this until you like the look of it */
    border-top-right-radius: 20% 30px;
    height: 100%;
    content: "";
    position: absolute;
    top: -15px;
    box-sizing: border-box;
    margin-top: -5px;
}

/* Topnav Styles */

.topnav {
    padding: 15px 10px;
    align-items: center;
    background: white;
    margin: 0;
    top: 0;
}

.topnav h3 {
    margin-bottom: 0px;
}

.topnav a {
    color: #282828;
    font-weight: 500;
    margin-left: 30px;
}

.topnav a:hover {
    color: #0B80FB;
    transition-delay: .1s;
    transition-duration: .3s;
}

.topnav .nav-links {
    float: right;
}

@media (max-width: 767px) {
    .topnav {
        background-color: #282828;
        padding: 5px 0 20px;
    }

    .topnav a {
        color: white;
    }

    .topnav h3 {
        font-size: 28px;
        margin: 5px 5px 8px;
        text-align: center;
    }

    .topnav .nav-links {
        float: none;
        text-align: center;
        padding-right: 15px;
    }
}

/* Button Styles */

.btn,
.btn:focus,
.btn:active {
    color: #282828;
    font-weight: 500;
    border-radius: 0;
    border: 3px solid;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.btn-small {
    height: 44px;
    width: 110px;
}

.btn-big {
    padding: 15px;
    margin: 80px auto 120px;
}


.btn:hover {
    color: white;
    background-position: left bottom;
    background-color: #0B80FB;
    border-color: #282828;
    transition-timing-function: ease-in;
    transition-duration: .1s;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

@media (max-width: 767px) {
    .btn,
    .btn:focus,
    .btn:active {
        color: white;
    }

    .btn:hover {
        border-color: white;
    }
}

/* Masthead Styles */

.jumbotron {
    min-height: 600px;
    background-size: cover;
    border-radius: 0;
    box-shadow: inset 0 -100px 150px -50px #000000;
    margin: 0;
}

.jumbotron .vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.jumbotron h4 {
    color: #fff;
    text-shadow: 0 0 10px #00000090;
    line-height: 1.2em;
}

.jumbotron h1 {
    color: #fff;
    text-shadow: 0 0 30px #00000090;
    line-height: 1.2em;
}

@media (max-width: 767px) {
    .jumbotron {
        min-height: auto;
    }

    .jumbotron h4 {
        margin-top: 10px !important;
    }

    .jumbotron h4,
    .jumbotron h1 {
        margin-left: 20px !important;
    }
}

@media (max-width: 480px) {
    .jumbotron h4 {
        font-size: 18px;
    }

    .jumbotron h1 {
        font-size: 28px
    }
}

/* Summary Styles */

.summary,
.details {
    margin: 0;
    padding: 80px;
}

@media (max-width: 767px) {
    .summary,
    .details {
        padding: 40px;
    }
}

@media (max-width: 480px) {
    .summary,
    .details {
        padding: 20px;
    }
}

.outcomes {
    border-left: 6px solid #282828;
    padding: 22px 0 0 40px;
}

.outcomes h1,
.outcomes h3 {
    line-height: 1.2em;
    margin: 0 0;
}

.outcomes p {
    line-height: 1.6em;
    margin-bottom: 10px;
}

/* Details Styles */

.details img {
    max-width: 100%;
    margin: 70px auto 180px;
}

.details h5 {
    text-align: left;
    justify-content: flex-start !important;
}

@media (max-width: 767px) {
    .details,
    .summary,
    .gallery {
        padding: 40px 0;
    }
    .details img {
        margin: 25px auto 120px;
    }
}

/* Gallery Styles */

.gallery {
    padding: 0px 30px 100px;
}

.gallery p {
    margin: 0;
}

.gallery a,
.gallery a:hover {
    color: #282828;
    font-weight: 500;
    margin-left: 30px;
}

.mask {
    margin-top: 60px;
    margin-bottom: 15px;
    width: 100%;
    overflow: hidden;
}

.mask img {
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    background-color: #808080;
    background-position: center;
    background-size: cover;
}

.mask:hover img {
    transform: scale(1.1);
    overflow: hidden;
}

@media (max-width: 767px) {
    .gallery {
        padding: 0px 0px 120px;
    }

    .gallery h4 {
        padding-left: 20px;
        line-height: 1.5em;
    }

    .mask {
        margin-top: 40px;
    }
}

/* Services Styles */

.headline {
    margin: 140px 0;
}

.headline h1 {
    font-size: 52px;
}

.headline p {
    font-size: 24px;
    line-height: 2em;
    margin: 30px 0 0;
}

@media (max-width: 767px) {
    .headline {
        margin: 60px 0
    }

    .headline h1 {
        font-size: 34px;
    }

    .headline p {
        font-size: 18px;
    }
}

.services img {
    max-width: 120px;
    margin: 0 0 18px;
}

.services h5 {
    line-height: 2em;
}

.services p {
    margin-bottom: 80px;
}

@media (max-width: 767px) {
    .services {
        padding: 60px 0px;
    }
}


/* Quote Styles */

.quote {
    max-width: 900px;
    padding: 35px;
    border: 10px solid #282828;
    margin: 0 auto 100px;
    box-shadow: 20px 20px #808080;
}

.quote p,
.quote h5 {
    color: #282828;
}

.quote p {
    font-family: 'Bitter', 'Garamond', 'serif';
    font-size: 24px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .quote {
        margin: 0 20px 70px;
        padding: 20px 15px;
    }

    .quote p {
        font-size: 18px;
        line-height: 1.5em;
    }

    .quote h5 {
        font-size: 16px;
    }
}


/* Next Proj Styles */

.next {
    color: white;
    padding: 40px 0;
    margin: 0;
    background: linear-gradient(to right, #0B80FB 50%, #282828 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
}

.next:hover {
    background-position: left bottom;
    background-color: #0B80FB;
    transition-timing-function: ease-in;
    transition-duration: .2s;
}

.next p {
    margin-bottom: 0 !important;
}

a .next:hover {
    color: #fff;
    background-color: #0B80FB;
    transition-timing-function: ease-in;
    transition-duration: .2s;
}

.footer {
    color: white;
    padding: 40px 0;
    margin: 0;
    background: #282828;
    transition: all .4s ease-out;
}

.footer:hover {
    color: #fff;
    background-color: #0B80FB;
    transition-duration: .2s;
}

.footer h3 {
    margin: 0;
}

@media (max-width: 768px) {
    .next,
    .footer {
        padding: 20px;
    }

    .next p,
    .next h3,
    .footer p,
    .footer h3 {
        margin: 0 !important;
        padding: 0;
        line-height: 1.4em;
    }

    .next h3,
    .footer h3 {
        font-size: 24px;
    }

    .next i,
    .footer i {
        display: none;
    }
}
